{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="psw">Back<a href="/gmgc/cluster" class="psw">Home</a></button>
</div>
<div class="sidenav">
    <a href="#basic">Basic information</a>
    <a href="#num_sam">Cluster source</a>
    <a href="#stats">Cluster stats</a>
    <a href="#tree">tree visualization</a>
</div>

<cluster-data></cluster-data>

<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="psw">Back <a href="/gmgc/cluster" class="psw">Home</a></button>
</div>
{% endblock %}

{% block variables %}
<!-- Variables for Vue components -->

<script>
  var cluster_data = {{ cluster_data| safe }};
  var csrf_token = '{{ csrf_token }}';
</script>

<!-- tree_plugin -->
<script src="/static/ete/jquery-1.4.2.min.js"></script>

<script src="/static/ete/jquery-ui-1.8.4.custom.min.js"></script>

<script src="/static/ete/ete.js"></script>

<link rel="stylesheet" type="text/css" href="/static/ete/ete.css" >

{% endblock %}

<a href="/">HOME</a>