{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="psw">Back <a href="/gmgc/cluster" class="psw">Home</a></button>
</div>
<cluster-data></cluster-data>
<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="psw">Back <a href="/gmgc/cluster" class="psw">Home</a></button>
</div>
{% endblock %}

{% block variables %}
<!-- Variables for Vue components -->
<script>
  var cluster_data = {{ cluster_data| safe }};
  var csrf_token = '{{ csrf_token }}';
</script>
{% endblock %}

<a href="/">HOME</a>