<head>
	<title>GMGC</title>
  	<meta name="description" content="Latest updates and statistic charts">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

	{% load static %}
	

	<link rel="icon" type="image/png" href="{% static "gmgc/images/icons/favicon.ico" %}"/>
	<!--<link rel="stylesheet" type="text/css" href="{% static "gmgc/vendor/bootstrap/css/bootstrap_v3.min.css" %}">-->
	<!--<link rel="stylesheet" type="text/css" href="{% static "gmgc/css/util.css" %}">-->
	<link rel="stylesheet" type="text/css" href="{% static "gmgc/css/main.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "ete/ete.css" %} >
	
	<script src="{% static "gmgc/vendor/jquery/jquery-3.2.1.min.js" %}" type="04be1e8ff8a31a597b9fda8d-text/javascript"></script>
	<script src="{% static "gmgc/vendor/bootstrap/js/popper.min.js" %}" type="04be1e8ff8a31a597b9fda8d-text/javascript"></script>
	<script src="{% static "gmgc/vendor/bootstrap/js/bootstrap.min.js" %}" type="04be1e8ff8a31a597b9fda8d-text/javascript"></script>
	<script src="{% static "gmgc/js/vue.min.js" %}" type="text/javascript"></script>

	<!-- template -->
	<link href="/static/metronic_src/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/static/metronic_src/assets/vendor/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="/static/metronic_src/assets/demo/default/base/scripts.bundle.js"></script>
	<script src="/static/metronic_src/assets/vendor/base/vendors.bundle.js"></script>
	
	

		<!--begin::Web font -->
		<script src="/static/metronic_src/webfont.js"></script>
		<script>
			WebFont.load({
				google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
				active: function () {
					sessionStorage.fonts = true;
				}
			});
	</script>
	<!--end::Web font -->
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-783841-20"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  
	  gtag('config', 'UA-783841-20');
	  console.log("done");
	</script>
  <!-- End::Google analytics -->
  
  

	<script src="/static/metronic_src/vue.min.js"></script>
	<script src="/static/metronic_src/axios.min.js"></script>
  
	<link rel="shortcut icon" href="/static/metronic_src/assets/demo/default/media/img/logo/favicon.ico" />

	<script src="/static/metronic_src/vue-tables-2.min.js"></script>
  


	<script>
	  Vue.use(VueTables.ClientTable, [theme = 'bootstrap3']);
	</script>

	<style>
	  .table-emapper td {
	  height: 100px;
	  }
	  .table-emapper td > .scrollable {
	  height: 100%;
	  overflow: auto;
	  }
	  .table-emapper thead td {
	  white-space: nowrap;
	  }
	  .nowrap {
	  white-space: nowrap;
	  }
	</style>
  

  
  
  
</head>

