{% extends 'base.html' %}

{% block content %}

<h3>GMGC Unigene Data</h3>
<unigene-data></unigene-data>

<!-- for the pagination table-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->

<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>
{% endblock %}

{% block variables %}
<!-- Variables for Vue components -->
<script>
  var unigene_data = {{ unigene_data| safe }};
  var csrf_token = '{{ csrf_token }}';
</script>

{% endblock %}
