<!-- Start Gene Correlations -->
    <div class="row">
      <div class="annoBlock col">
        <div class="m-portlet">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                      </span>
                        
                    <h3>
                      Unigene Correlations
                    </h3>
  
                </div>
              </div>
            </div>

            <div class="m-portlet__body">
                <div v-if="unigene.metaG_corr.mG_corr">
                  <div class="table-responsive">
                    <table class="horizontal_table VueTables__table table-striped table-bordered table-emapper">
                      <caption style="color: blue">MetaGenomic Correlations</caption>
                      <thead>
                        <tr >
                            <th>Condition</th>
                            <th>Correlations obs_number</th>
                            <th>PEARSON</th>
                            <th>PEARSON_PVAL</th>
                            <th>SPEARMAN</th>
                            <th>SPEARMAN_PVAL</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr v-for="object in unigene.metaG_corr.mG_corr">
                            <td>{{ object.cond }}</td>
                            <td>{{ object.num_c }} </td>
                            <td>{{ object.pc }}</td>
                            <td>{{ object.ppv }}</td>
                            <td>{{ object.sc }}</td>
                            <td>{{ object.spv }}</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
              </div>            
              <div v-else>No MetaG correlations data</div>
        
              <div  v-if="unigene.metaT_corr.mT_corr">
                  <div class="table-responsive">
                    <table class="horizontal_table VueTables__table table-striped table-bordered table-emapper">
                      <caption style="color: blue">MetaTranscriptomics Correlations</caption>
                      <thead>
                        <tr >
                            <th>Condition</th>
                            <th>Correlations obs_number</th>
                            <th>PEARSON</th>
                            <th>PEARSON_PVAL</th>
                            <th>SPEARMAN</th>
                            <th>SPEARMAN_PVAL</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr v-for="object in unigene.metaT_corr.mT_corr">
                            <td>{{ object.cond }}</td>
                            <td>{{ object.num_c }} </td>
                            <td>{{ object.pc }}</td>
                            <td>{{ object.ppv }}</td>
                            <td>{{ object.sc }}</td>
                            <td>{{ object.spv }}</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
              </div>            
              <div v-else>No MetaT correlations data</div>
            </div>
        </div>
      </div>
    </div>
    <!-- End Gene Correlations -->