<!-- Start Functional annotation -->
<div class="row">
  <div class="annoBlock col">
    <div class="m-portlet">
          <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                      <span class="m-portlet__head-icon m--hide">
                          <i class="la la-gear"></i>
                      </span>                
                      <h3>
                          <a id="functional" href="#functional"></a>
                          Functional Annotation
                      </h3>

                  </div>
              </div>
           </div>

          <div class="m-portlet__body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-sprot-tab" data-toggle="tab" href="#nav-sprot" role="tab" aria-controls="nav-sprot" aria-selected="true">SwissProt Hit</a>
                <a class="nav-item nav-link" id="nav-trembl-tab" data-toggle="tab" href="#nav-trembl" role="tab" aria-controls="nav-trembl" aria-selected="false">Trembl Hit</a>
                <a class="nav-item nav-link" id="nav-emapper-tab" data-toggle="tab" href="#nav-emapper" role="tab" aria-controls="nav-emapper" aria-selected="false">eggNOG_v2 Annotation</a>
                <a class="nav-item nav-link" id="nav-intrinsic-tab" data-toggle="tab" href="#nav-intrinsic" role="tab" aria-controls="nav-intrinsic" aria-selected="false">Intrinsic features</a>
                <a class="nav-item nav-link" id="nav-pfam-tab" data-toggle="tab" href="#nav-pfam" role="tab" aria-controls="nav-pfam" aria-selected="false">Pfam Annotation</a>
                <a class="nav-item nav-link" id="nav-smart-tab" data-toggle="tab" href="#nav-smart" role="tab" aria-controls="nav-smart" aria-selected="false">SMART Annotation</a>
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent" style="padding-left:15px;">

              <!--first tab-->
              <div class="tab-pane fade show active" id="nav-sprot" role="tabpanel" aria-labelledby="nav-sprot-tab" >
                <div v-if="unigene.sprot_best">
                <table role="grid" class="table">
                    <tr ><th>Exact hit</th><td v-if="unigene.sprot_exact"><a v-bind:href="'https://www.uniprot.org/uniprot/'+ unigene.sprot_exact.spe" target="_blank">{{ unigene.sprot_exact.spe }}</a></td><td v-else>no exact hit</td></tr>
                    <tr ><th>AC</th><td><a v-bind:href="'https://www.uniprot.org/uniprot/'+ unigene.sprot_best.spb.n" target="_blank">{{ unigene.sprot_best.spb.n }}</a></td></tr>
                    <tr ><th>Query coverage(%)</th><td>{{ unigene.sprot_best.spb.qc|percentFilter }}</td></tr>
                    <tr ><th>Target coverage(%)</th><td>{{ unigene.sprot_best.spb.tc|percentFilter }}</td></tr>
                    <tr ><th>Score</th><td>{{ unigene.sprot_best.spb.sc }}</td></tr>
                    <tr ><th>E-value</th><td>{{ unigene.sprot_best.spb.ev }}</td></tr>
                    <tr ><th>Percent identity(%)</th><td>{{ unigene.sprot_best.spb.pi|percentFilter }}</td></tr>

                </table>
                  
                </div><div v-else><font color="blue">No SwissProt hit</div>
              </div>
              <!--first tab-->

              <!--second tab-->
              <div class="tab-pane fade" id="nav-trembl" role="tabpanel" aria-labelledby="nav-trembl-tab">
                <div v-if="unigene.trembl_best">
                  <table role="grid" class="table">

                    <tr ><th>ID</th><td><a v-bind:href="'https://www.uniprot.org/uniprot/'+ unigene.trembl_best.trb.n" target="_blank">{{ unigene.trembl_best.trb.n }}</a></td></tr>
                    <tr ><th>Query coverage(%)</th><td>{{ unigene.trembl_best.trb.qc|percentFilter }}</td></tr>
                    <tr ><th>Target coverage(%)</th><td>{{ unigene.trembl_best.trb.tc|percentFilter }}</td></tr>
                    <tr ><th>Score</th><td>{{ unigene.trembl_best.trb.sc }}</td></tr>
                    <tr ><th>E-value</th><td>{{ unigene.trembl_best.trb.ev }}</td>
                    <tr ><th>Percent identity(%)</th><td>{{ unigene.trembl_best.trb.pi|percentFilter }}</td></tr>

                  </table>
                </div><div v-else><font color="blue">No Trembl hit</font></div>
              </div>
              <!--second tab-->

              <!--third tab-->
              <div class="tab-pane fade" id="nav-emapper" role="tabpanel" aria-labelledby="nav-emapper-tab">
                <div  v-if="unigene.emapper_v2">
                  <table role="grid" class="table">
                  
                    <tr ><th>Predicted_name</th><td >{{unigene.emapper_v2.p_n}}</td></tr> 
                    <tr ><th>Seed_ortholog_score</th><td >{{unigene.emapper_v2.s_o_s}}</td></tr>
                    <tr ><th>Seed_ortholog_evalue</th><td >{{unigene.emapper_v2.s_o_e}}</td></tr>
                    <tr ><th>seed_eggNOG_ortholog</th><td ><a v-bind:href="'http://eggnog5.embl.de/#/app/results?seqid='+ unigene.emapper_v2.s_e_o" target="_blank">{{unigene.emapper_v2.s_e_o}}</a></td></tr>
                    <tr ><th>COG</th><td >{{unigene.emapper_v2.COG}}</td></tr>
                    <tr ><th>KEGG_ko</th><td ><a v-for="ko in unigene.emapper_v2.K_ko.split(',')" v-bind:href="'https://www.genome.jp/dbget-bin/www_bget?ko'+ko" target="_blank">{{ko}}&nbsp;</a></td></tr>
                    <tr ><th>Best_tax_level</th><td >{{unigene.emapper_v2.b_tax_l}}</td></tr>
                    <tr ><th>Annot_level_max</th><td >{{unigene.emapper_v2.an_l_max}}</td></tr>
                    <tr ><th>KEGG_Pathway</th><td ><a v-for="kegg in unigene.emapper_v2.K_P.split(',')" v-bind:href="'https://www.genome.jp/dbget-bin/www_bget?map'+ kegg" target="_blank">{{kegg}}&nbsp;</td></tr>
                    <tr ><th>KEGG_Reaction</th><td ><a v-for="reaction in unigene.emapper_v2.K_R.split(',')" v-bind:href="'https://www.genome.jp/dbget-bin/www_bget?rn:'+ reaction" target="_blank">{{reaction}}&nbsp;</td></tr>                        
                    <tr ><th>KEGG_rclass</th><td ><a v-for="rclass in unigene.emapper_v2.K_rc.split(',')" v-bind:href="'https://www.genome.jp/dbget-bin/www_bget?' + rclass" target="_blank">{{rclass}}&nbsp;</td></tr>
                    <tr ><th>BiGG_Reaction</th><td ><a v-for="bigg in unigene.emapper_v2.BiGG.split(',')" v-bind:href="'http://bigg.ucsd.edu/models/'+ bigg.split('.')[0]+ '/genes/' +bigg.split('.')[1]">{{bigg}}&nbsp;</td></tr>
                    <tr ><th>KEGG_Module</th><td ><a v-for="module in unigene.emapper_v2.K_M.split(',')" v-bind:href="'http://www.genome.jp/dbget-bin/www_bget?'+ module">{{module}}&nbsp;</td></tr>
                    <tr ><th>bestOG</th><td >{{unigene.emapper_v2.bOGs}}</td></tr>
                    <tr ><th>KEGG_TC</th><td >{{unigene.emapper_v2.K_TC}}</td></tr>
                    <tr ><th>matching_OGs</th><td ><a v-for="og in unigene.emapper_v2.OGs.split(',')" v-bind:href="'http://eggnog5.embl.de/#/app/results?seqid='+unigene.emapper_v2.s_e_o.split('.')[1]+'&target_nogs='+og.split('@',1)" targe="_blank">{{og}}&nbsp;</a></td></tr>
                    <tr ><th>EC</th><td >{{unigene.emapper_v2.EC}}</td></tr>
                    <tr ><th>Description</th><td>{{unigene.emapper_v2.ds}}</td></tr>
                    <tr ><th>BRITE</th><td ><a v-for="brite in unigene.emapper_v2.BRITE.split(',')" v-bind:href="'https://www.genome.jp/kegg-bin/search_brite?catalog=brite.list&search_string='+brite" target="_blank">{{brite}}&nbsp;</a></td></tr>
                    <tr ><th>CAZy</th><td >{{unigene.emapper_v2.CAZy}}</td></tr>
                    <tr ><th>GOs</th><td><a v-for="GO in unigene.emapper_v2.GOs.split(',')" v-bind:href="'http://amigo.geneontology.org/amigo/term/'+unigene.emapper_v2.GOs" target="_blank">{{GO}}&nbsp;</td></tr>
                    
                </table>
            
              </div><div v-else><font color="blue">No emapper hit</font></div>
            </div>
            <!--third tab-->
            
            <!-- four tab -->
              <div class="tab-pane fade" id="nav-intrinsic" role="tabpanel" aria-labelledby="nav-intrinsic-tab">
              <div v-if="unigene.intrinsic">
                <div class="table-responsive">
                <table id="intriTable" class="display table horizontal_table table-striped table-bordered table-sm" style="width:100%">
                <!--<table class="table horizontal_table table-striped table-bordered table-sm" cellspacing="0" width="100%">-->
                      <thead>
                        <tr ><th> Features </th><th >Start</th><th >End</th></tr>
                      </thead>

                      <tbody>
                        
                        <tr v-for="object in unigene.intrinsic.intr"><td>{{ object.n }}</td><td >{{ object.s }}</td><td >{{ object.e }}</td></tr>
                        
                      </tbody>
                </table>
                </div>
              </div><div v-else><font color="blue">No Intrinsic hit</font></div>
              </div>

              <!-- five tab -->
              <div class="tab-pane fade" id="nav-pfam" role="tabpanel" aria-labelledby="nav-pfam-tab">
              <div v-if="unigene.pfam">
                <div class="table-responsive">
                  
                  <table id="pfamTable" class="display table horizontal_table table-striped table-bordered table-sm" style="width:100%">
                  <!--<table class="table horizontal_table table-striped table-bordered table-sm" cellspacing="0" style="width:100%">-->
                        <thead>
                            <tr ><th> Domain </th><th >Start</th><th >End</th><th >Hit score</th><th >E-value</th></tr>
                        </thead>

                        <tbody>
                          <tr v-for="object in unigene.pfam.pf"><td><a v-bind:href="'http://pfam.xfam.org/family/'+ object.n" target="_blank">{{ object.n }}</a></td><td >{{ object.s }}</td><td >{{ object.e }}</td><td >{{ object.sc }}</td><td  >{{ object.ev }}</td></tr>
                        </tbody>
                    </table>
                  
                </div>
              </div><div v-else><font color="blue">No Pfam hit</font></div>
              </div>

              <!-- six tab -->
              <div class="tab-pane fade" id="nav-smart" role="tabpanel" aria-labelledby="nav-smart-tab">
              <div v-if="unigene.smart">
                <div class="table-responsive">
                  <table id="smartTable" class="display table horizontal_table table-striped table-bordered table-sm" style="width:100%">
                  <!--<table class="table horizontal_table table-striped table-bordered table-sm" cellspacing="0" width="100%">-->
                    <thead>
                      <tr ><th> Domain </th><th >Start</th><th >End</th><th >Hit score</th><th >E-value</th></tr>
                    </thead>
                    <tbody >
                      <tr v-for="object in unigene.smart.sm"><td><a v-bind:href="'https://smart.embl.de/smart/do_annotation.pl?DOMAIN='+ object.n + '&BLAST=DUMMY'" target="_blank">{{ object.n }}</a></td><td >{{ object.s }}</td><td >{{ object.e }}</td><td >{{ object.sc }}</td><td  >{{ object.ev }}</td></tr>
                    </tbody>
                  </table>
                </div>
                </div><div v-else><font color="blue">No SMART hit</font></div>
              </div>
            </div>

          </div><!--  m-porlet__body end -->
          
    </div> <!-- m-porlet end -->
  </div>
</div>
<!-- End Functional annotation -->