<div class="row">
  <div class="annoBlock col">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
              </span>
              
              <h3>
                  Source
              </h3>
          </div>
        </div>
      </div><!-- m-portlet__head -->

      <div class="m-portlet__body">
        <div v-if="mgs_data">
          <div class="table-responsive">
            <table class="horizontal_table VueTables__table table-striped table-bordered table-emapper">
              <caption>MGS ID: <span style="color: blue">{{ mgs_data.mgs }}</span></caption>
              <thead>
                <tr >
                    <th>Unigene members</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="u in mgs_data.u">
                    <td><a v-bind:href="'/gmgc/unigene/'+ u">{{ u }}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><div v-else>No mgs data</div>

      </div>
    </div><!-- m-portlet -->
  </div><!-- Block -->
</div><!-- Row -->